<!DOCTYPE html>
<html lang="en">

<head>

     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <meta name="description" content="">
     <meta name="author" content="">

     <title>SB Admin 2 - Register</title>

     <!-- Custom fonts for this template-->
     <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
     <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
     <!-- Custom styles for this template-->
     <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

     <div class="container">

          <div class="card o-hidden border-0 shadow-lg my-5">
               <div class="card-body p-0">
                    <form class="row" action="/Editpassword" method="post" >

                    <!-- Nested Row within Card Body -->
                    <div class="d-flex w-100" style="height: auto;">
                         <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
                              id="accordionSidebar">
                              <!-- <img class="rounded-circle p-4" src="/img/undraw_profile_2.svg" alt="..."> -->
                                        <img class="rounded-circle p-4"
                                             src="<%if(locals.user.avatar == ''){%>/img/undraw_profile_2.svg<%}else{%><%=locals.user.avatar%><%}%>" alt="...">
                                   <hr class="sidebar-divider my-0">
                                   <hr class="sidebar-divider">
                                   <li class="nav-item">
                                        <a href="/changepassword"
                                             class="text-decoration-none text-dark px-5 py-3 bg-light w-100 d-block">Change Password</a>
                                   </li>
                                   <hr class="sidebar-divider d-none d-md-block">
                         </ul>
                         
                         <div class="p-5" style="width: 70%;">
                              <div class="mb-5">
                                   <h3>Here you change  password</h3>
                              </div>
                              <div class="card-body">
                                   
                            <% if(flash.error && flash.error.length > 0 ) { %>
                                <div class="alert alert-danger"><%= flash.error %></div>
                              <% } %>
                         
                                   <div class="form-group row">
                                        <label for="fname"
                                             class="col-sm-3 text-end control-label col-form-label">Current Password</label>
                                        <div class="col-sm-9">
                                             <input type="text" name="oldpass" class="form-control" id="name"
                                                  placeholder="Enter Your Password" value="" />
                                        </div>
                                   </div>
                                   <div class="form-group row">
                                        <label for="fname"
                                             class="col-sm-3 text-end control-label col-form-label">New Password</label>
                                        <div class="col-sm-9">
                                             <input type="text" name="npass" class="form-control" id="name"
                                                  placeholder="Enter Your Password" value="" />
                                        </div>
                                   </div>
                                   <div class="form-group row">
                                        <label for="fname"
                                             class="col-sm-3 text-end control-label col-form-label">Confirm Password</label>
                                        <div class="col-sm-9">
                                             <input type="text" name="cpass" class="form-control" id="name"
                                                  placeholder="Enter Your Password" value="" />
                                        </div>
                                   </div>
                                   
                                             <br>
                                             <input type="submit"  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm p-2">
                                             
                                        </div>

                              </div>
                         </div>
                    </div>
               </form>
               </div>
          </div>
     </div>

     </div>


     <!-- Bootstrap core JavaScript-->
     <script src="/vendor/jquery/jquery.min.js"></script>
     <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

     <!-- Core plugin JavaScript-->
     <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

     <!-- Custom scripts for all pages-->
     <script src="/js/sb-admin-2.min.js"></script>

</body>

</html>