<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Register</title>
  
  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <form method="post" action="/transportation/flight_add">
      <div class="d-flex align-items-center justify-content-between card-body p-5 ">
        <div class="form-group" style="width: 25% !important;">
          <label for="">From</label>
          <br>
          <% var country=['India', 'Austria' , 'USA' , 'Canada','United Kingdom','Germany','Brazil','Russia']; %>
          <select class="form-control" name="from" id="">
            <option value="">Select From</option>
            <%country.forEach((v)=>{ %>
              <option value="<%=v%>"><%=v%></option>
            <%});%>            
          </select>
        </div>
        <i class="fa fa-plane" style="font-size:60px;"></i>
        <div class="form-group text-right" >
        <label for="">To</label>
        <h3 class="m-0 font-weight-bold text-primary"><%=d_data.country%></h3>
      </div>
      <input type="submit" style="border-radius: 20px; border: 0;" class="px-4 py-3 bg-gradient-primary text-light text-center" value="search">
      </div>
    </form>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
</body>
</html>